@charset "UTF-8";

/* 초기화 */
*{margin: 0; padding: 0; box-sizing: border-box;}
li,ul{list-style: none;}
a{text-decoration: none; color: aliceblue; font-family: "Hahmlet", serif;}
button, select, hr{border: none;}
video::-webkit-media-controls { display:none !important; }

/*기본값이 (디스플레이인라인) 요소이기 때문에 변경 
필요하다면 다스플레이변경후 사용*/
img, video, svg{display: block; border: none;}

html, body{width: 100vw;}

body{
    background-size: 100%; 
    overflow-x: hidden;
    font-family: "Hahmlet", serif; 
}
body{
    margin-top: 80px !important
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 스크롤바 none*/
::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
} 

/* 마우스 커서 모양 변경 */
body{
    font-family: 'lol'; 
    cursor: url(https://brand.riotgames.com/images/league-of-legends/cursor.png), auto; 
}
a, li, button, label[role="button"] {cursor: url(https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png), auto;}


/* 헤더 부분 */
header{
    height: 80px;
    width: 100%;
    background-color: #010A13;
    border-bottom: 3px solid #C89B3C;
    position: fixed;
    z-index: 999;
    top: 0;
}
header div.header{
    width: 93.75%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 리그오브레전드 로고 */
svg#LOL_logo{
    height: 60px;
}

/* 메뉴부분 */
header div.header>nav{
    width: 50%;
    text-align: center;
    position: relative;
}
header div.header>nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header div.header nav ul li{
    width: 14.2857%;
    float: left;
    position: relative;
}
header div.header>nav ul li a{
    font-size: clamp(12px, 0.9vw, 16px);
    height: 80px;
    display: flex;
    min-width: 90px;
    align-items: center;
    justify-content: center;
}
header div.header>nav ul li a:hover{
    font-weight: bold;
    color: #C89B3C;
}

header div.header nav div.subMenu{
    position: absolute;
    width: 100%;
    height: clamp(310px, 29vw, 500px);
    z-index: 999;
}
header div.header>nav div.subMenu>ul{
    height: 100%;
}
header div.header>nav div.subMenu>ul>li{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header div.header>nav div.subMenu>ul>li>a{
    height: auto;
    width: 100%;
    position: relative;
    padding: 10% 0;
}
header div.header>nav div.subMenu>ul>li>a::after{
    content: ""; 
    display: block; 
    width: 80%; 
    height: 3px; 
    background-color: #C89B3C; 
    position: absolute;  
    transition: all 0.5s; 
    transform: scale(0,1);
    bottom: 3%;
    border-radius: 2px;
}
header div.header>nav div.subMenu>ul>li>a:hover::after{
    transform: scale(1,1);
}

header div.subMenuBackground{
    background: linear-gradient(#091428, #0A1428);
    opacity: 60%;
    width: 100%;
    height: clamp(310px, 29vw, 500px);
    display: block;
    position: absolute;
    z-index: -55;
    border-bottom: 3px solid #C89B3C;
}


/* 헤더 우측부분 */
header div.headright{
    width: 22%;
    min-width: 340px;
    display: flex;
    justify-content: space-between;
}

/* 라이엇로고 */
header div.headright svg#Riot_logo{
    width: 106.67px;
    height: 30px;
    display: block;
    fill: #fff;
}
header div.headright a.Riot_logo:hover svg#Riot_logo{
    fill: red;
}

/* 이슈 박스 */
header div.headright span.issuebox>a{
    height: 30px;
    width: 30px;
    display: block;
    background:url(../image/IssueX.png) no-repeat center;
    background-size: cover; 
    /* background:url(../image/IssueO.png) no-repeat center; <--이슈발생시 */
}

/* 언어 선택 박스 */
.selectBox2 {
    position: relative;
    width: 100px;
    height: 30px;
    background-color: #3C3C41;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.selectBox2:after {
    content: url(../image/underarrow.png);
    display: block;
    line-height: 4px;
    margin-right: 10px;
}

.selectBox2 .label {
    display: flex;
    align-items: center;
    color: #fff;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    text-align: center;
    font-weight: bold;
}

.selectBox2 .optionList {
    position: absolute; 
    top: 40px;
    left: 0;
    width: 100%;
    background: #ffffff;
    color: #080808;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}

.selectBox2.active .optionList {
    max-height: 500px;
}

.selectBox2 .optionItem {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 5px 15px 5px;
    transition: .1s;
}

.selectBox2 .optionItem:hover {
    background: rgb(50, 140, 243);
}

.selectBox2 .optionItem:last-child {
    border-bottom: 0 none;
}

 /* 헤더 로그인 */
header a#login{
    display: block;
    min-width: 100px;
    height: 30px;
    border-radius: 15px;
    background: linear-gradient(#0AC8B9, #005A82);
    text-align: center;
    line-height: 30px;
}


/* 모바일 메뉴 */
.slide-open{
    position:relative;
    width:50px;
    height:50px;
    cursor:pointer;
    display: none;
  }
  .burgur{
  right: 15px;
  top: 23px;
  position: absolute;
  width: 20px;
  height: 2px;
  background: #C89B3C;
  }
  .burgur .top-line{
  width: 20px;
  height: 2px;
  background-color: #C89B3C;
  bottom: -5px;
  content: '';
  position: absolute;
  right: 0;
  -webkit-transition:  -webkit-transform .3s;
  transition: transform .3s;
  
  }
  .burgur .bot-line {
  width: 20px;
  height: 2px;
  background-color: #C89B3C;
  top: -5px;
  content: '';
  position: absolute;
  right: 0;
  -webkit-transition:  -webkit-transform .3s;
  transition: transform .3s;
  }
  
  .burgur.on {
  width: 0;
  }
  .burgur.on .bot-line {
  -webkit-transform: translateY(5px) rotate(135deg);
  transform: translateY(5px) rotate(135deg);
  }
  .burgur.on .top-line{
  -webkit-transform: translateY(-5px) rotate(-135deg);
  transform: translateY(-5px) rotate(-135deg);
  }

/* 모바일 서브박스 */
div#mobileHeader{
    width: 55vw;
    max-width: 300px;
    height: 100vh;
    background-color: rgba(1, 10, 19, 0.7);
    float: right;
    border-left: 3px solid #C89B3C;
    padding: 20px 10px;
}
div.mobileHeader_top{
    width: 100%;
    display: table;
    margin-bottom:20px ;
}
a.Riot_mlogo{
    display: flex;
    justify-content: center;
}
svg#Riot_mlogo{
    max-width: 20%;
    min-width: 110px;
    height: auto;
    fill: #fff;
}
svg#Riot_mlogo:hover{
    fill: #ff0000;
}
div.mobileHeader_mid{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    
}
div.mobileHeader_mid span.issuebox>a{
    height: 20px;
    width: 20px;
    display: block;
    background:url(../image/IssueX.png) no-repeat center;
    background-size: cover; 
    /* background:url(../image/IssueO.png) no-repeat center; <--이슈발생시 */
}

/*모바일 언어 선택 박스 */
.selectBox1 {
    position: relative;
    width: 100px;
    height: 30px;
    background-color: #3C3C41;
    border-radius: 15px;
    display: flex;
    align-items: center;
    z-index: 50;
}

.selectBox1:after {
    content: url(../image/underarrow.png);
    display: block;
    line-height: 4px;
    margin-right: 10px;
}

.selectBox1 .label1 {
    display: flex;
    align-items: center;
    color: #fff;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    text-align: center;
    font-weight: bold;
}

.selectBox1 .optionList1 {
    position: absolute; 
    top: 40px;
    left: 0;
    width: 100%;
    background: #ffffff;
    color: #080808;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}

.selectBox1.active .optionList1 {
    max-height: 500px;
}

.selectBox1 .optionItem1 {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 5px 15px 5px;
    transition: .1s;
}

.selectBox1 .optionItem1:hover {
    background: rgb(50, 140, 243);
}

.selectBox1 .optionItem1:last-child {
    border-bottom: 0 none;
}

hr.m{
    height: 2px;
    border-radius: 1px;
    width: 80%;
    margin: 20px auto 0;
    background-color: #fff;
}
 /* 모바일 로그인 */
 header a#mlogin{
    display: block;
    min-width: 70px;
    height: 30px;
    border-radius: 15px;
    background: linear-gradient(#0AC8B9, #005A82);
    text-align: center;
    line-height: 30px;
    font-size: clamp(10px, 3vw, 14px);
}

div.mobileHeader_bottom{
    height: 74%;
    padding: 20px;
}
div.mobileHeader_bottom nav.mobile_menu{
    overflow-y: scroll; /* 세로 스크롤 사용 */
    height: 100%;
}
div.mobileHeader_bottom nav.mobile_menu::-webkit-scrollbar{
    display: block;
    width: 3px;  
}
div.mobileHeader_bottom nav.mobile_menu::-webkit-scrollbar-thumb {
    background: #e89a3e; /* 스크롤바 막대 색상 */
    border-radius: 12px;
}
div.mobileHeader_bottom nav.mobile_menu::-webkit-scrollbar-track {
	background: #9b6a2f4d; /* 스크롤바 뒷 배경 색상 */
}

div.mobileHeader_bottom nav.mobile_menu>ul>li>div.menu_T>a{
    display: inline-block;
    margin-top: 8%;
    margin-left: 4%;
    font-weight: bold;
    color: #C89B3C;
}
div.mobileHeader_bottom nav.mobile_menu>ul>li>ul li a{
    position: relative;
}
div.mobileHeader_bottom nav.mobile_menu>ul>li>ul li a::after{
    content: ""; 
    display: block; 
    width: 100%; 
    height: 1px; 
    background-color: #C89B3C; 
    position: absolute;  
    transition: all 0.5s; 
    transform: scale(0,1);
    bottom: -4px;
    border-radius: 2px;
}
div.mobileHeader_bottom nav.mobile_menu>ul>li>ul li a:hover::after{
    transform: scale(1,1);
}
div.mobileHeader_bottom nav.mobile_menu>ul>li:first-child>div.menu_T>a{
    margin-top: 0%;
}
div.mobileHeader_bottom nav.mobile_menu>ul>li div.menu_T>i.fa-caret-right{
    color: #fff;
    margin-left: 5px;
    transform: rotate(90deg);
}
div.mobileHeader_bottom nav.mobile_menu>ul>li div.menu_T>i.fa-arrow-up-long{
    color: #fff;
    margin-left: 5px;
    transform: rotate(45deg) scale(0.7);
}
div.mobileHeader_bottom nav.mobile_menu>ul>li>ul>li{
    font-size: clamp(10px, 3vw, 14px);
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}
div.mobileHeader_bottom nav.mobile_menu>ul>li>ul>li:last-child{
    margin-bottom: 0;
}


article{
    width: 100%;
}

.article_container{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C89B3C;
}
.login_box{
    width: 30%;
    border: 3px solid #e89a3e;
    margin-left: 5%;
    padding: 2% 0;
    border-radius: 10px;
    box-shadow: 0 0 20px #C89B3C;
}
.login_box strong{
    color: bisque;
    font-size: 2rem;
    margin-left: 5.8%;
}
.login_box ul{
    display: flex;
    justify-content: space-between;
    margin-left: 5.8%;
    align-items: center;
}
.login_box ul li:nth-child(1){
    margin-right: 3%;
}
.login_box ul li:nth-child(2){
    background-color: #e89a3e;
    width: 20%;
    box-shadow: 0 0 20px #C89B3C;
}
.login_box ul li a{
    color: antiquewhite;
}
.login_box ul li:nth-child(2){
    margin-right: 5%;
}
.login_box ul li:nth-child(2) a{
    text-align: center;
    display: block;
    padding: 10%;
}
.header_imgbox{
    width: 50%;
    height: 100%;
}
.header_imgbox img{
    display: block;
    height: 100%;
    width: 100%;
}
.contnent_wrap{
    width: 93.7%;
    height: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    margin-bottom: 100px;
    
}
body{
    background-color: #000000;
}


/*서비스상태페이지*/
.contnent_box{
    width: 98%;
    height: clamp(180px, 20vw, 200px);
    border-radius: 20px;
    padding: 2%;
    color: antiquewhite;
}
.content_text li:nth-child(1)::before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 30px;
    position: absolute;
    background-color: antiquewhite;
    right: 98%;
    margin-top: 6px;
}
.content_text li:nth-child(1){
    text-indent: 20px;
    font-weight: bold;
}

.content_text ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    position: relative;
}
.content_text i{
    margin-left: 20px;
}

.content_text2{
    width: 100%;
    height: 80%;
    border: 3px solid #C89B3C;
    border-radius: 10px;
}
.content_text2 ul{
    width: 100%;
    height: 100%;
    padding-bottom: 1%;
}

.content_text2 ul li{
    width: 50%;
    height: 50%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    font-size:  clamp(14px, 2vw, 17px);
    position: relative;
}
.content_text li a{
    color: antiquewhite;
}
.content_text2>ul>li::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 95%;
    display: block;
    background-color: #C89B3C;
    bottom: 10px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}
.content_text2 small::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    display: block;
    bottom: 4px;
    right:60px;
}
.content_text2 small{
    position: relative;
}
.content_text2>ul>li:nth-child(3) small::after{
    background-color: red;
}

/*문의등록하기*/
.contnent_box2{
    width: 98%;
    height: clamp(180px, 20vw, 200px);
    border-radius: 20px;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: antiquewhite;
}

.contnent_box2 strong::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: antiquewhite;
    top: 6px;
    right:98%;
}
.contnent_box2 strong{
    position: relative;
    text-indent: 20px;
}

.content_text3 ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content_text3{
    width: 100%;
    height: 100%;
    border: 3px solid #C89B3C;
    border-radius: 10px;
    margin-top: 3%;
}

.top{
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top span{
    background-color: red;
    padding: 1% 2%;
    box-shadow: 0 0 20px red;
    margin-top: 1%;
}
.bottom{
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/*고객지원도구*/
.content_box3{
    width: 90%;
    height: clamp(400px, 30vw, 450px);
    border-radius: 20px;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 3px solid #C89B3C;
    color: antiquewhite;
}
h3{
    font-size: 1.5rem;
}
.tittle_box strong{
    font-size: 1.3rem;
}

.tittle_box a{
    display: flex;
    justify-content: space-between;
}

.tittle_box i{
    display: block;
} 

.left{
    float: left;
    width: 50%;
}

.right{
    float: right;
    width: 50%;
}

.left ul li{
    border: 1px solid #C89B3C;
    width: 80%;
    margin-top: 2%;
    padding: 2% 2%;
    box-shadow: 0 0 20px rgb(0, 0, 0,0.5);
    backdrop-filter: blur(30px);
}

.right ul li{
    border: 1px solid #C89B3C;
    width: 80%;
    margin-top: 2%;
    padding: 2% 2%;
    box-shadow: 0 0 20px rgb(0, 0, 0,0.5);
    backdrop-filter: blur(30px);
}


/*다른게임이미지*/
.content_box4{
    width: 98%;
    height: clamp(400px, 30vw, 450px);
    border-radius: 20px;
    padding: 2%;
    display: flex;
    align-items: center;
    gap: 2%;
    justify-content: center;
    color: antiquewhite;
    margin-left: 3%;
}
.gam_box{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.gam_img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.gam_img img{
    width:200px;
    transform: rotate(3deg);
}






/* 푸터 영역 */
footer{
    height: 400px;
    width: 100%;
    background-color: #010A13;
    border-top: 3px solid #C89B3C;
    position: relative;
}

footer>div.topbutton{
    left: 50%;
    top: -2px;
    transform: translate(-50%,-50%);
    position: absolute;
    display: flex;
    justify-content: center;
}
footer>div.topbutton>span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(60px, 4vw, 80px);
    height: clamp(60px, 4vw, 80px);
    background-color: #010A13;
    border: 3px solid #C89B3C;
    transform: rotate(45deg);
}
footer>div.topbutton>span>i{
    position: relative;
    font-size: clamp(2em, 3vw, 3em);
    transform: rotate(-45deg);
    animation: motion 0.5s linear 0s infinite alternate;
    -webkit-animation: motion 0.5s linear 0s infinite alternate;
    color: #fff;
}
  
@keyframes motion {
	0% {left: -5%; top: -5%;}
	100% {left: 2%; top: 2%;}
}

footer div#footer_wrap{
    width: 93.75%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
}

/* 푸터 라이엇 로고 */
footer div#footer_wrap a.Riot_logo_footer{
    display: flex;
    justify-content: center;
    height: 60px;
    grid-column: 1;
    grid-column-start: 1;
}

footer div#footer_wrap svg#Riot_logo_footer{
    width: clamp(160px, 12vw, 210px);
    height: auto;
    fill: #fff;
}
footer div#footer_wrap svg#Riot_logo_footer:hover{
    fill: red;
}

/* 법률 정보 */
footer div#footer_wrap div.copyright{
    width: 100%;
    grid-row: 2 / span 2;
    color: #fff;
}
footer div#footer_wrap div.copyright p{
    font-size: clamp(14px, 1vw, 18px);
}
footer div#footer_wrap div.copyright p.p1{
    margin-bottom: 30px;
}

/* 푸터 버튼 */
footer div#footer_wrap div.footerbutton{
    grid-column: 2;
    grid-row: 1;
}
footer div#footer_wrap div.footerbutton ul{
    display: flex;
    justify-content: space-around;
}
footer div#footer_wrap div.footerbutton ul li{
    float: left;
}

footer div#footer_wrap div.footerbutton ul li a{
    display: block;
    width: clamp(40px, 4vw, 50px);
    height: clamp(40px, 4vw, 50px);
    background-color: #3C3C41;
    border-radius: 12px;
    position: relative;
}
footer div#footer_wrap div.footerbutton ul li a i{
    position: absolute;
    font-size: clamp(1.5em, 2vw, 2em);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer div#footer_wrap div.footerbutton ul>li:nth-child(1)>a:hover>i{
    color: #ff0000;
}
footer div#footer_wrap div.footerbutton  ul>li:nth-child(2)>a:hover>i{
    color: palevioletred;
    background: linear-gradient(to bottom, #9b07f0,rgb(235, 10, 186), #ec5904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer div#footer_wrap div.footerbutton  ul>li:nth-child(3)>a:hover>i{
    color: rgb(17, 0, 255);
}
footer div#footer_wrap div.footerbutton  ul>li:nth-child(4)>a:hover>i{
    color: rgb(0, 0, 0);
}

/* 법률 링크 */
footer div#footer_wrap div.legal_link{
    grid-column: 2;
    grid-row: 2;
}
footer div#footer_wrap div.legal_link ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer div#footer_wrap div.legal_link ul li{
    float: left;
}
footer div#footer_wrap div.legal_link ul li a{
    font-size: clamp(12px, 1vw, 24px);

}
footer div#footer_wrap div.legal_link ul li a:hover{
    color: #C89B3C;
}

/* 심의등급 */
footer div#footer_wrap div.game_rating{
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div#footer_wrap div.game_rating a{
    position: relative;
    width: clamp(400px, 90%, 600px);
    height: clamp(70px, 8vw, 100px);
    display: block;
    background-color: #3C3C41;
    border-radius: 14px;
    background-image: url(../image/gamerating.png);
    background-size: 96%;
    background-repeat: no-repeat;
    background-position: center;
}








/* 미디어 쿼리 */

/* 모바일 분기점 전 처리!!!!! */
@media screen and (max-width:1279px){
    header div.headright{
        transform: scale(0.8);
        width: 18%;
    }
    header div.header>nav{
        width: 60%;
    }
    svg#LOL_logo{
        height: 40px;
    }




    .contnent_wrap{
        grid-template-columns: none;
        grid-template-rows: repeat(4,1fr);
        gap: 4%;
        margin-top: 50px;
        height: 2000px;
    }
    
    .content_box3{
        height: clamp(380px, 20vw, 800px);
        text-align: center;
        width: 100%;
        margin: 0 auto; 
    }
    .tittle_box{
        text-align: left;
        width: 100%;
        margin: 0 auto;
    }

    .right ul{
        width: 100%;
    }
    .right ul li{
        width: 100%;
    }
    .tittle_box{
        width: 100%;
        height: 200px;
        flex-direction: column;
    }

    .gam_img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .content_box4{
        flex-direction: column;
        height: 700px;
        gap: 2%;
    }
    .header_imgbox{
        display: none;
    }
    .login_box{
        width: 40%;
        margin: 0 auto;
        text-align: center;
    }
    .login_box ul{
        flex-direction: column;
        margin-top: 1%;
    }
    .login_box ul li{
        margin-top: 2%;
    }
}



/* 모바일 화면 미디어쿼리 */
@media screen and (max-width:1023px){
    /* 모바일 헤더 */
    header div.headright{
        display: none;
    }
    header div.header nav{
        display: none;
    }
    .slide-open{
        display: block;
    }
    svg#LOL_logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    /* 모바일 푸터 */
    footer{
        height: 700px;
    }
    
    footer div#footer_wrap{
        width: 93.75%;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: none;
    }
    
    /* 푸터 라이엇 로고 */
    footer div#footer_wrap a.Riot_logo_footer{
        grid-row: 1;
    }
    
    
    /* 법률 정보 */
    footer div#footer_wrap div.copyright{
        grid-row: 2 /span 2;
    }
    
    /* 푸터 버튼 */
    footer div#footer_wrap div.footerbutton{
        grid-row: 4;
        grid-column: 1;
    }
    /* 법률 링크 */
    footer div#footer_wrap div.legal_link{
        grid-row: 5;
        grid-column: 1;
    }
    
    /* 심의등급 */
    footer div#footer_wrap div.game_rating{
        grid-row: 6;
        grid-column: 1;
    }

    .login_box{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .login_box ul{
        flex-direction: column;
        margin-top: 1%;
        text-align: center;
    }
    .login_box ul li{
        margin-top: 2%;
    }
    .login_box ul li:nth-child(2){
        width: 30%;
    }
    
}


/* 페이지 리사이징시*/
@media screen and (min-width:1024px){

}


