@charset "UTF-8";
/* 초기화 */
*{margin: 0; padding: 0; box-sizing: border-box;}
li,ul{list-style: none;}
a{text-decoration: none; color: aliceblue; font-family: "Hahmlet", serif;}
button, select{border: none;}

/*기본값이 (디스플레이인라인) 요소이기 때문에 변경 
필요하다면 다스플레이변경후 사용*/
img, video, svg{display: block; border: none;}

html, body{width: 100vw;}

body{
    font-family: "Hahmlet", serif;  
}
body{
    margin-top: 80px !important
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 스크롤바 none*/
::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
} 

/* 마우스 커서 모양 변경 */
body{
    font-family: 'lol'; 
    cursor: url(https://brand.riotgames.com/images/league-of-legends/cursor.png), auto; 
}
a, li, button, label[role="button"] {cursor: url(https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png), auto;}


/* 헤더 부분 */
header{
    height: 80px;
    width: 100%;
    background-color: #010A13;
    border-bottom: 3px solid #C89B3C;
    position: fixed;
    z-index: 999;
    top: 0;
}
header div.header{
    width: 93.75%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 리그오브레전드 로고 */

svg#LOL_logo{
    height: 60px;
}

/* 메뉴부분 */
header div.header>nav{
    width: 50%;
    text-align: center;
    position: relative;
}
header div.header>nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header div.header nav ul li{
    width: 14.2857%;

    float: left;
    position: relative;
}
header div.header>nav ul li a{
    font-size: clamp(11px, 1vw, 16px);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header div.header>nav ul li a:hover{
    font-weight: bold;
    color: #C89B3C;
}

header div.header nav div.subMenu{
    position: absolute;
    width: 100%;
    height: 27vw;
    z-index: 999;
}
header div.header>nav div.subMenu>ul{
    height: 100%;
}
header div.header>nav div.subMenu>ul>li{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header div.header>nav div.subMenu>ul>li>a{
    height: auto;
    width: 100%;
    position: relative;
    padding: 10% 0;
}
header div.header>nav div.subMenu>ul>li>a::after{
    content: ""; 
    display: block; 
    width: 80%; 
    height: 3px; 
    background-color: #C89B3C; 
    position: absolute;  
    transition: all 0.5s; 
    transform: scale(0,1);
    bottom: 3%;
    border-radius: 2px;
}
header div.header>nav div.subMenu>ul>li>a:hover::after{
    transform: scale(1,1);
}

header div.subMenuBackground{
    background: linear-gradient(#091428, #0A1428);
    opacity: 60%;
    width: 100%;
    height: 27vw;
    display: block;
    position: absolute;
    z-index: -55;
    border-bottom: 3px solid #C89B3C;
}


/* 헤더 우측부분 */
header div.headright{
    width: 22%;
    min-width: 340px;
    display: flex;
    justify-content: space-between;
}

/* 라이엇로고 */
header div.headright svg#Riot_logo{
    width: 106.67px;
    height: 30px;
    display: block;
    fill: #fff;
}
header div.headright a.Riot_logo:hover svg#Riot_logo{
    fill: red;
}

/* 이슈 박스 */
header div.headright span.issuebox>a{
    height: 30px;
    width: 30px;
    display: block;
    background:url(../image/IssueX.png) no-repeat center 
    /* background:url(../image/IssueO.png) no-repeat center; <--이슈발생시 */
}

/* 언어 선택 박스 */
.selectBox2 {
    position: relative;
    width: 100px;
    height: 30px;
    background-color: #3C3C41;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.selectBox2:after {
    content: url(../image/underarrow.png);
    display: block;
    line-height: 4px;
    margin-right: 10px;
}

.selectBox2 .label {
    display: flex;
    align-items: center;
    color: #fff;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    text-align: center;
    font-weight: bold;
}

.selectBox2 .optionList {
    position: absolute; 
    top: 40px;
    left: 0;
    width: 100%;
    background: #ffffff;
    color: #080808;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}

.selectBox2.active .optionList {
    max-height: 500px;
}

.selectBox2 .optionItem {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 5px 15px 5px;
    transition: .1s;
}

.selectBox2 .optionItem:hover {
    background: rgb(50, 140, 243);
}

.selectBox2 .optionItem:last-child {
    border-bottom: 0 none;
}

 /* 헤더 로그인 */
header a#login{
    display: block;
    min-width: 100px;
    height: 30px;
    border-radius: 15px;
    background: linear-gradient(#0AC8B9, #005A82);
    text-align: center;
    line-height: 30px;
}


/* 모바일 메뉴 */
.slide-open{
    position:relative;
    width:50px;
    height:50px;
    cursor:pointer;
    display: none;
  }
  .burgur{
  right: 15px;
  top: 23px;
  position: absolute;
  width: 20px;
  height: 2px;
  background: #C89B3C;
  }
  .burgur .top-line{
  width: 20px;
  height: 2px;
  background-color: #C89B3C;
  bottom: -5px;
  content: '';
  position: absolute;
  right: 0;
  -webkit-transition:  -webkit-transform .3s;
  transition: transform .3s;
  
  }
  .burgur .bot-line {
  width: 20px;
  height: 2px;
  background-color: #C89B3C;
  top: -5px;
  content: '';
  position: absolute;
  right: 0;
  -webkit-transition:  -webkit-transform .3s;
  transition: transform .3s;
  }
  
  .burgur.on {
  width: 0;
  }
  .burgur.on .bot-line {
  -webkit-transform: translateY(5px) rotate(135deg);
  transform: translateY(5px) rotate(135deg);
  }
  .burgur.on .top-line{
  -webkit-transform: translateY(-5px) rotate(-135deg);
  transform: translateY(-5px) rotate(-135deg);
  }
div#mobileHeader{
    display: none;
    width: 70vw;
    height: 100vw;
    background-color: #0A1428;
    opacity: 60%;
    float: right;
    border-left: 3px solid #C89B3C;
}


body{
    background-color: #000;
}

/* 컨텐츠영역 */
    article{
        width: 93.7%;
        height: 210vh;
        position: relative;
    }
    h1{
        color: #f8bd46;
        font-size: 4.2vw;
        text-align: center;
        text-shadow: 2px 2px 5px rgba(212, 212, 212, 0.5);
        line-height: 3;   
    }

/*윈도우 맥*/
    .tittle{
        width: 60%;
        margin: 0 auto;
        display: flex;
        /* background-color: #005A82; */
        justify-content: flex-end;  
        padding-bottom: 3%;
    }
    .tittle ul{
        display: flex;

    }
    .tittle ul li{
        line-height: 2;
        border: 1px solid #C89B3C;
        border-radius: 10px;
        margin-right: 70px;
        box-shadow:2px 2px 2px #3a362f;
        cursor: pointer;
        width: 160px;
        height: 50px;
    }

    .tittle ul li a:hover{
        color: #C89B3C;
    }

    .tittle ul li:nth-child(2){
        cursor: pointer;
        width: 120px;
        height: 50px;
        margin-right: 0 ;
    }

    .tittle ul li a{
        color: #F0E6D2;
        font-size: 1.3em;
        padding-left: 7%;
        cursor: pointer;
    }

/* 박스 투명효과 */
    .tittle_box{
        width: 70%;
        height: 80%;
        margin: 0 auto;
        backdrop-filter: blur(3000px);
        box-shadow: 0px 0px 60px rgba(182, 183, 194, 0.37);
    }

/*설치방법*/
    .tittle_box H2{
        font-size: 3vw;
        text-align: center;
        line-height: 3;
        color: #F0E6D2;
        padding-bottom: 2%;

    }

/*1번째 다운로드버튼눌러 설치파일받기*/
    .ineer_box1{
        width: 80%;
        height: 20%;
        margin:  auto;
        position: relative;
    }
    .ineer_box1 p{
        padding-bottom: 2%;
        font-size: 1.2em;
        color: #F0E6D2;
        margin-left: 8%;
    }
    .ineer_box1 ul{
        padding: 5%;
        margin: 0 auto;
        padding-top: 3%;
        border: 1.5px  solid #C89B3C;
        border-radius: 20px;
    }

    .ineer_box1 ul li{
        text-align: center;
        line-height: 1.6;
    }
    .ineer_box1 ul li:nth-child(1) a{
        font-size: 1.8em;
        font-weight: 500;
    }
    .ineer_box1 ul li a{
        font-size: 1.2em;
    }
    .ineer_box1 li.down_box{
        background-color:rgb(0, 0, 0 , 0.5);
        border: 1px solid #C89B3C;
        width: 30%;
        height: 20%;
        margin: 0 auto;
        margin-top: 8%;
        border-radius: 10px;
    }
    .ineer_box1 li.down_box a{
        color: #ce8e0f;
        font-size: 2rem;
    }
    .ineer_box1 ul.down_box a{
        font-size: 2em;
        line-height: 0.1;
        text-align: center;
        display: block;
        color: #C89B3C ;
        text-decoration-line: underline;
        text-underline-offset: 5px;
        
    }
    .ineer_box1 i{
        color: #F0E6D2;
        position: absolute;
        font-size: 45px;
        margin-left: 50%;
        display: inline-block;
        width: 10px;
        height: 1em; 
        animation: blink 1s step-start infinite; 
    }
    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    

/*두번째 설치파일실행*/
    .ineer_box2{
        margin:0 auto;
        margin-top: 4%;
        width: 80%;
    }
    .ineer_box2 p{
        padding-bottom: 2%;
        font-size: 1.2em;
        color: #F0E6D2;
        margin-left: 8%;
    }
    .img2_box{
        margin: 0 auto;
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        border: 1px solid #C89B3C;
        border-radius: 20px;
    }
    .img2_box small{
        color: #F0E6D2;
    }
    .img2_box img{
        width: 320px;
        display: block;
    }
    .img2_box>div{
        padding: 12px;
    }


/*세번째*/
    .ineer_box3{
        width: 80%;
        margin:0 auto;
        margin-top: 4%;
    }
    .ineer_box3 p{
        padding-bottom: 2%;
        font-size: 1.2em;
        color: #F0E6D2;
        margin-left: 8%;
    }
    .img_box li{
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0 auto;
    }
    .img_box li a{
        color: #F0E6D2;
        text-align: center;
        display: block;
    }

    .img_box {
        margin: 0 auto;
        border: 1px solid #C89B3C;
        border-radius: 20px;
        padding: 12px;
    }
    .img_box img{
        width: 120px;
        height: 120px;
        margin-top: 2%;
        backdrop-filter: blur(3000px);
        box-shadow: 0px 0px 20px rgba(182, 183, 194, 0.37);
        margin: 0 auto;
    }


/*4번째*/  
    .ineer_box4{
        margin-right: 29%;
        margin-top: 2%;
    }
    .ineer_box4 strong{
        font-size: 1.5em;
        color: #F0E6D2;
        margin-left: 11%;
        padding-top: 3%;
        display: block;
        text-decoration-line: underline;  
        text-underline-offset: 6.5px;
    }
    .ineer_box4 ul{
        width: 87%;
        height: 85%;
        margin: 0 auto;
        padding-top: 5%;
        border: 1.5px  solid #C89B3C;
        border-radius: 20px;
    }
    .ineer_box4 li{
        color: #F0E6D2;
        padding-top: 3%;
        padding-bottom: 2%;
        margin-left: 11%;
        font-size: 1.2em;
        width: 120%;
    }






/* 푸터 영역 */
footer{
    height: 400px;
    width: 100%;
    background-color: #010A13;
    border-top: 3px solid #C89B3C;
}

footer div#footer_wrap{
    width: 93.75%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
}

/* 푸터 라이엇 로고 */
footer div#footer_wrap a.Riot_logo_footer{
    height: 60px;
    grid-column: 1;
    grid-column-start: 1;
}

footer div#footer_wrap svg#Riot_logo_footer{
    width: 213.33px;
    height: 60px;
    fill: #fff;
}
footer div#footer_wrap svg#Riot_logo_footer:hover{
    fill: red;
}

/* 법률 정보 */
footer div#footer_wrap div.copyright{
    grid-row: 2 / span 2;
    grid-column-start: 1;
    color: #fff;
}
footer div#footer_wrap div.copyright p.p1{
    margin-bottom: 30px;
}

/* 푸터 버튼 */
footer div#footer_wrap div.footerbutton{
    grid-column: 2;
    grid-row: 1;
}
footer div#footer_wrap div.footerbutton ul{
    display: flex;
    justify-content: space-around;
}
footer div#footer_wrap div.footerbutton ul li{
    float: left;
}
footer div#footer_wrap div.footerbutton ul li a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #3C3C41;
    border-radius: 12px;
    position: relative;
}
footer div#footer_wrap div.footerbutton ul li a i{
    fill: #fff;
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 법률 링크 */
footer div#footer_wrap div.legal_link{
    grid-column: 2;
    grid-row: 2;
}
footer div#footer_wrap div.legal_link ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer div#footer_wrap div.legal_link ul li{
    float: left;
}

/* 심의등급 */
footer div#footer_wrap div.game_rating{
    grid-column: 2;
    grid-row: 3;
    

}
footer div#footer_wrap div.game_rating a{
    display: table;
    background-color: #3C3C41;
    border-radius: 14px;
    margin: 0 auto;
}

footer div#footer_wrap div.game_rating a img{
    max-width: 100%;
    min-width: 420px;
    height: auto;
    max-height: 100px;
    display: table-row;
    margin: 10px;
    vertical-align:middle;
}


/* 미디어 쿼리 */
    /* 모바일 분기점 전 처리 */
@media screen and (max-width:1279px){
    header div.headright{
        transform: scale(0.8);
    }
    article{
        height: 260vh;
    }
    .down_box{
        display: none;
    }
}
    



    /* 모바일 화면 미디어쿼리 */
@media screen and (max-width:1023px){
    /* 모바일 헤더 */
    header div.headright{
        display: none;
    }
    header div.header nav{
        display: none;
    }
    .slide-open{
        display: block;
    }
    svg#LOL_logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    article{
        height: 220vh;
    }
    .tittle_box{
        height: 70%;
    }
    .img2_box img{
        width: 190px;
    }
    .img_box img{
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
    .img_box li{
        font-size: 0.8em;
    }
    .ineer_box4 strong{
        font-size: 1.2rem;
    }
    .ineer_box4 li{
        font-size: 1rem;
    }
    .ineer_box3 p, .ineer_box2 p, .ineer_box1 p{
        font-size: 1rem;
    }
    .ineer_box1 li{
        font-size: 0.9rem;
        line-height: 1.8rem;
    }
    .ineer_box1 i{
        display: none;
    }
}

@media screen and (max-width:1280px) {
    .ineer_box1 i{
        display: none;
    }
}


@media screen and (max-width:640px) {
    article{
        height: 230vh;
    }

    .tittle ul{
        margin: 0 auto;
    }
    .tittle ul li{
        width: 120px;
        height: 40px;
    }
    .tittle ul li:nth-child(2){
        width: 80px;
        height: 40px;
    }
    .tittle ul li a{
        font-size: 0.8em;
    }
    .down_box{
        display: none;
    }
    .ineer_box1 li{
        font-size: 0.8rem;
        line-height: 2;
    }
    .ineer_box1 i{
        display: none;
    }
}

/* 처리 */

